WhatsApp_v1.json
{
  "name": "WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2224,
        160
      ],
      "id": "a8d776fe-2321-4db5-ae3d-a3bb1b2c7350",
      "name": "Webhook",
      "webhookId": "c516472d-41a4-4b76-b983-945346fcea77"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62f02bb7-68d0-4899-a8b7-9c7fcba43de9",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "10fee6eb-2796-45c8-b183-b437ef9c616a",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "e32344a2-84b5-45e6-bb0b-a5f326fb6000",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "3c09bc62-7b4d-4c46-a2b4-56181f7c38b0",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "f1187069-33bd-4947-9a83-b6eddd77330a",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "8d013703-bec6-43b7-b421-2f1c581f4c4a",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "29fb29d2-f8b1-4a03-97ae-7e9da33739b2",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        160
      ],
      "id": "2f784e06-45f6-4284-beca-1f8c12aae07f",
      "name": "Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d413a9e6-9a7b-4d79-9e94-ed611fd52c9e"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2608,
        160
      ],
      "id": "628e854c-bad9-4aa2-85e5-f4dc5f703b2a",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:8000/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "697aa7ae-802e-4594-bee9-5ce0334fdf9d",
      "name": "Scraper Playwright",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2992,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.titulo }} {{ $json.preco_atual }}{{ $json.url }}{{ $json.preco_anterior }}",
        "options": {
          "systemMessage": "Você é um formatador de mensagens para ofertas que serão enviadas pelo WhatsApp e Telegram.\n\nUse EXCLUSIVAMENTE os dados fornecidos abaixo.\nNão invente, não pesquise, não deduza.\n\nOnde for negrito certifique-se que não tenha dois asteriscos\n\nO titulo não pode conter palavras repetidas e virgulas, a informação deve ser a melhor possivel\n\nProduto: {{ $json.titulo }}\nPreço atual: {{ $json.preco_atual }}\nPreço anterior: {{ $json.preco_anterior }}\nLink: {{ $json.url }}\n\nFormato obrigatório:\n\n🔥 OFERTA IMPERDÍVEL 🔥\n\n{{Produto}} (negrito)\n\n💰 De {{Preço anterior}} (tachado somente nos números)\n\n✅ Por {{Preço atual}} (negrito)\n\n🛒 LINK DA COMPRA: \n{{Link}}\n\nRetorne SOMENTE a mensagem formatada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3168,
        160
      ],
      "id": "1d548a88-b02d-4f32-91c5-6d7541e33d67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3120,
        432
      ],
      "id": "056f2a61-e15a-4fcb-b13f-f52dd450f171",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HNz0EUe9NEdum5I0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3296,
        432
      ],
      "id": "ab8e2801-a9b9-4c3c-82d2-1799e35d4746",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "l6KHjUsr9vLhdCX3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3504,
        160
      ],
      "id": "643b62c7-4872-4035-bf55-f121c1baef24",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "jaK3ENFgoQfHuLx3",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3728,
        160
      ],
      "id": "30dde0d6-4df6-4757-9adb-aa84f41b751c",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "jaK3ENFgoQfHuLx3",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text =\n  $json.body?.message ||\n  $json.message ||\n  $json.text ||\n  '';\n\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\nconst urls = text.match(urlRegex);\n\nif (!urls || urls.length === 0) {\n  return [\n    {\n      json: {\n        hasUrl: false\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      hasUrl: true,\n      url: urls[0]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        160
      ],
      "id": "2a93d283-4ac7-47d6-a91e-3ddaed200a12",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraper Playwright": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Scraper Playwright",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9da963b9-2516-4f5c-ab38-e4e28300ee54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5890a1a438ed1eacf55e8f858be87337fecdc2179e6a5acfb4e16c4b95789343"
  },
  "id": "4qy9HnibuyBmgEDZ",
  "tags": []
}