WhatsApp_v2.json
{
  "name": "WhatsApp_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f6e5bab-b20c-478e-879b-5610cee71474",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2112,
        192
      ],
      "id": "30a57245-f75e-4e0b-adec-8b486bf34a84",
      "name": "Webhook",
      "webhookId": "2f6e5bab-b20c-478e-879b-5610cee71474"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.titulo }} {{ $json.preco_atual }}{{ $json.url }}{{ $json.preco_anterior }}",
        "options": {
          "systemMessage": "[Você é um formatador de mensagens para ofertas que serão enviadas pelo WhatsApp e Telegram.\n\nUse EXCLUSIVAMENTE os dados fornecidos abaixo.\nNão invente, não pesquise, não deduza, obedeça estas instruções\n\nO titulo não pode conter palavras repetidas e virgulas, a informação deve ser a melhor possivel\n\nO tachado é ~valor a ser tachado~, nunca coloque <s></s>\n\nRetorne SOMENTE a mensagem formatada.\n\nOnde for (negrito) GARANTA que não tenha dois asteriscos na mensagem formatada final.\n\nProduto: {{ $json.titulo }}\nPreço atual: {{ $json.preco_atual }}\nPreço anterior: {{ $json.preco_anterior }}\nLink: {{ $json.url }}\n\n]\n\nFormato obrigatório:\n\n🔥 OFERTA IMPERDÍVEL 🔥\n\n{{Produto}} (negrito)\n\n💰 De {{Preço anterior}} (tachado somente nos números)\n\n✅ Por {{Preço atual}} (negrito)\n\n🛒 LINK DA COMPRA: \n{{Link}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2352,
        432
      ],
      "id": "b772a12d-4787-4cfd-a775-c01df3a7b5a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2304,
        672
      ],
      "id": "38c051a8-1a01-4246-946f-0984fa7ef86f",
      "name": "Google Gemini Chat Model",
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "HNz0EUe9NEdum5I0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mapear Campos').item.json.chatId }}",
        "sessionTTL": 300,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2496,
        672
      ],
      "id": "1098d388-5ec0-4fd3-9895-7416e655774b",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "l6KHjUsr9vLhdCX3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Mapear Campos').item.json.session }}",
        "chatId": "={{ $('Mapear Campos').item.json.chatId }}",
        "messageId": "={{ $('Mapear Campos').item.json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2704,
        432
      ],
      "id": "5861e8c2-abde-4902-ba54-0136f5db96dc",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "jaK3ENFgoQfHuLx3",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62f02bb7-68d0-4899-a8b7-9c7fcba43de9",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "10fee6eb-2796-45c8-b183-b437ef9c616a",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "e32344a2-84b5-45e6-bb0b-a5f326fb6000",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "3c09bc62-7b4d-4c46-a2b4-56181f7c38b0",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "f1187069-33bd-4947-9a83-b6eddd77330a",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "8d013703-bec6-43b7-b421-2f1c581f4c4a",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "29fb29d2-f8b1-4a03-97ae-7e9da33739b2",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "7fad1054-d810-48a7-a23d-c0d2657cfa18",
              "name": "source",
              "value": "={{ $json.body.payload.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        192
      ],
      "id": "e54225eb-933d-4ce0-9adf-28f3d4e67729",
      "name": "Mapear Campos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8390dab-2cda-4c59-985c-dda296a43740",
              "leftValue": "={{ $json.source }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        192
      ],
      "id": "32cdbfb3-7279-4955-9695-6171b7662d39",
      "name": "Mensagem API Waha?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "949a5d2b-1d98-4091-81c8-d87c952aefa5",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2688,
        208
      ],
      "id": "4885eaa8-7242-4840-8bfb-673ed6dbf8ba",
      "name": "Evento é mensagem?"
    },
    {
      "parameters": {
        "jsCode": "const text =\n  $json.body?.message ||\n  $json.message ||\n  $json.text ||\n  '';\n\n// Regex genérica para URLs\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\nconst urls = text.match(urlRegex);\n\nif (!urls || urls.length === 0) {\n  return [\n    {\n      json: {\n        hasUrl: false\n      }\n    }\n  ];\n}\n\n// Domínios permitidos (afiliados)\nconst allowedPatterns = [\n  /^https?:\\/\\/(www\\.)?amzn\\.to\\/.+/i,\n  /^https?:\\/\\/(www\\.)?mercadolivre\\.com\\/sec\\/.+/i\n];\n\n// Procura a primeira URL válida\nconst validUrl = urls.find(url =>\n  allowedPatterns.some(pattern => pattern.test(url))\n);\n\nif (!validUrl) {\n  return [\n    {\n      json: {\n        hasUrl: false\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      hasUrl: true,\n      url: validUrl\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        208
      ],
      "id": "48cf5934-472a-4fef-ae98-ca8c75691e3c",
      "name": "Tem URL ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a4d79c3-de7a-4962-bd58-0b6a37c9c92a",
              "leftValue": "={{ $json.hasUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3072,
        208
      ],
      "id": "25626620-9bd7-46f6-a37e-7c557ddd8536",
      "name": "URL associado ou afiliado?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:8000/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "05d360a2-fac2-4a1a-b5a6-d61b69db3edc",
      "name": "Fazer Webscrapping Playwright",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3328,
        192
      ]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Mapear Campos').item.json.session }}",
        "chatId": "={{ $('Mapear Campos').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2912,
        432
      ],
      "id": "9221af10-2598-4dc6-bda0-7fa2e38eaa55",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "jaK3ENFgoQfHuLx3",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Mapear Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Campos": {
      "main": [
        [
          {
            "node": "Mensagem API Waha?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem API Waha?": {
      "main": [
        [],
        [
          {
            "node": "Evento é mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento é mensagem?": {
      "main": [
        [
          {
            "node": "Tem URL ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem URL ?": {
      "main": [
        [
          {
            "node": "URL associado ou afiliado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL associado ou afiliado?": {
      "main": [
        [
          {
            "node": "Fazer Webscrapping Playwright",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fazer Webscrapping Playwright": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b143aa27-49be-4e54-8009-1b9ecc40e5e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5890a1a438ed1eacf55e8f858be87337fecdc2179e6a5acfb4e16c4b95789343"
  },
  "id": "cF8PwRFe8MfQOl3s",
  "tags": []
}